@import url("mainJeff.css");

body {
    background: #f4f4f4;
}

#slide-out {
    background: #333643;
    color: white;
}

blockquote{
  border-color: rgb(0,89,179);
}

.btn-primary{
  background: rgb(33,150,243);
}

.side-nav li>a {
    color: white;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    color: white;
}

.tag-box-pill{
  float: left;
  display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.tag-box-pill button{
  background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font-size: 13px !important;
    cursor: pointer;
    outline: inherit !important;
    padding-left: 10px !important;
}

.card {
    width:100%;
}

.chipWrapper {
    margin-top: 10px;
}

.aboutme {
    margin-top: 10px;
}
.education {
    margin-top: 10px;
}
.edumac {
    margin-top: 25px;
}

.chipstatus2, .profileBody, .profileText {
    margin-left: 20px;
}

.profileText{
  font-size: 1.2em;
}

.nav-wrapper{
  background: rgb(0,89,179);

}

.brand-logo{
  padding-top: 10px !important;
}

.scoreblock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    position: absolute;
    top: 80%;
    transform: translateY(-80%);
}

.scoretext {
    margin-top: 0;
}

.studentnav {
    margin-bottom: 20px;
}
