body{
    background: #3a3a3c;
    


}


#challenge1{
    background: url(images/challenge1b.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#challenge2{
    background: url(images/challenge2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#challenge3{
    background: url(images/challenge3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#challenge4{
    background: url(images/challenge4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.challengeBox{
    height: 200px;
    margin-bottom: 2px;
}
.challengeBox h4{
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

.challengeIntro h2{
    text-align: center;
    color: white;
}

.introBox{
    background: url(images/introduction.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.card.card-image{
    width: 100px;
}
.card.card-image img{
    width: 100%;
}