body{
}


#challenge1{
    background: url(images/challenge1b.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#challenge2{
    background: url(images/challenge2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#challenge3{
    background: url(images/challenge3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#challenge4{
    background: url(images/challenge4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.challengeBox{
    height: 200px;
    margin-bottom: 2px;
}
.challengeBox h4{
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

.challengeIntro h2{
    text-align: center;
    color: white;
}

.introBox{
    background: url(images/introduction.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.title{
    background-color: rgba(76,76,255,0.7);
    padding: 10px 20px !important;
    
}

.challengePage h4{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.progressBar{
    text-align: center;
}

.progressBar i{
    border: 2px solid #4c4cff;
    margin: 5px;
    color: #4c4cff;
    font-weight: bold;
    background-color: white;
    padding: 4px;
    border-radius: 100%;
}
.progressBar .circleProgress{
    border: 2px solid #4c4cff;
    margin: 5px;
    margin-top: 0px !important;
    color: #4c4cff;
    font-weight: bold;
    padding: 6px 11px;
   
    border-radius: 100%;
}

.greenColor{
      border: 2px solid rgba(20,235,0,1) !important;
    background-color: rgba(20,235,0,1) !important;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(20,235,0,1);
-moz-box-shadow: 0px 0px 11px -1px rgba(20,235,0,1);
box-shadow: 0px 0px 11px -1px rgba(20,235,0,1);
}
.lock{
    color: gray !important;
     border: 2px solid gray !important;
    
}
.topBar{
    margin-top: 40px;
}
.challengePage.right{
    float: right;
}

.challengePage h6{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
}